<div style="margin: 80px">
  <h2 class="field-text">パスワードをリセットします</h2>
<!-- <h2>Forgot your password?</h2> -->

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field field-text">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions field-text">
      <%= f.submit "パスワードリセットの案内を送る" %>
      <%#= f.submit "Send me reset password instructions" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>