<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <title>GSP1820</title>
</head>

<body>
  <header>
    <div class="header-container header-fixed">
      <ul class="header-list clearfix">
        <li><%= link_to "Home", root_path, class: "header-text" %></li>
        <li><%= link_to "Floors", floors_path, class: "header-text" %></li>
        <li><%= link_to "Contents", '/', class: "header-text" %></li>
        <li><%= link_to "Voices", '/', class: "header-text" %></li>
        <li><%= link_to "Staffs", '/', class: "header-text" %></li>
        <li><%= link_to "Maps", '/', class: "header-text" %></li>
        <li><%= link_to "History", history_path, class: "header-text" %></li>
<!--       </ul>
      <ul class="header-session"> -->
        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "header-text header-session" %></li>
        <% else %>
          <li class="circle" style="border-radius=50%"><%= link_to "Login", new_user_session_path, class: "header-text header-session" %></li>
        <% end %>
      </ul>
    </div>
  </header>

  <div style="padding-top:8vh"></div>

  <%= yield  %>

  <footer>
    <div class="footer-container footer-fixed">
      <p class="footer-text"><strong>(C) 2019 GSP1820 All rights reserved. Produced by GSP1820 Committee.</strong></p>
    </div>
  </footer>

</body>


</html>
